:root{
    --mycolor : rgb(233, 17, 233);
}
*{
    padding: 0;
    margin: 0;
}
body,a,button,.btn{
    background-color: var(--mycolor);
}
.btn:hover{
    display: contents;
    background-color: var(--mycolor);
    opacity: 1;
}
.text-color{
    color: var(--mycolor);
}
.p{
    padding: 10px 20px;
}
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
#quote-box{
    padding: 30px;
    background-color: rgb(26, 176, 181);
    max-width : 650px;
}
#author{
    font-weight: 410;
}
.center{
    text-align: center;
}
#new-quote{
    background-color: var(--mycolor);
}
.borders-none{
    border: none;
}